body.security-app {
	text-align: center;
	overflow: hidden;
	height: 101%;
	overflow: scroll;
	width: 101%;
	background: #edeced;
}

.lc-block {
	padding: 36px 54px 36px;
	background: #ffffff;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.28);
	border-radius: 3px;
	width: 47%;
	display: inline-block;
	position: relative;
	animation-name: fadeInUp;
	animation-duration: 299ms;
	animation-fill-mode: both;
	z-index: 10;
	margin-top: 4.5%;
	vertical-align: middle;
}

.lc-block p {
	color:#0000ff; 
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 20px;
}

body.security-app:before {
	height: 220px;
	width: 101%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/orig.png');
	background-repeat: no-repeat;
	background-size: 100%;
	content: "";
	z-index: 0;
}

body.security-app:after {
	content: "";
	vertical-align: middle;
	display: inline-block;
	width: 1.1px;
	height: 100%;
}

h2 {
	color: white;
	font-family: "Open Sans", sans-serif;
}


h3 {
	color: red;
	font-family: "Open Sans", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

div {
	font-family: "Open Sans", sans-serif;
}

#patients th, #patients td.last  {
	text-align: center;
}

input[type="text"], input[type="password"] {
	display: block;
	margin: 0.1;
	width: 29%;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
	border-radius: none;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c8;
	transition: border 0.2s;
}

.button {
	display: inline-block;
	text-transform: uppercase;
	padding: 0.9em 1.5em 0.75em;
	border-radius: 2.5px;
	font-weight: bold;
	border: none;
	color: #ffffff !important;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13.5px;
	line-height: 1;
	cursor: pointer;
	margin-right: 0px;
	margin-top: 0px;
}

.button:hover {
	opacity: 0.8
}

.button.green {
	background-color: #a5d16c;
	box-shadow: 0 0 4px #a4cf6d inset, 0 1px 1px #eee;
	margin-top: 4px;
}

.button.red {
	background-color: #f4836b;
	box-shadow: 0 0 6px #ef7f64 inset, 0 1px 1px #eee
}

.button.blue {
	background-color: #47c4ff;
	box-shadow: 0 0 5px #ef7f65 inset, 0 1px 1px #eee
}

.button.small {
	font-size: 11.5px
}

.button.middle {
	font-size: 14.5px;
}


.button.big {
	font-size: 17.5px;
	padding: 1.1em 2.5em 1em
}

.details {
	position: relative;
	text-align: center;
	width: 41%;
	margin-left: 31%;
	margin-right: 31%;
}

.details h2 {
	color:#0000ff; 
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.alert-danger {
	padding: 15.5px;
	font-size: 16.5px;
	background-color: #f2dedd;
	border-color: #f2dedd;
	color: #f44335;
	margin: 18.5px;
	border: 1.5px solid transparent;
	border-radius: 3px;
}

.alert-normal {
	padding: 15.5px;
	font-size: 16.5px;
	margin: 18.5px;
	border: 1.5px solid transparent;
	border-radius: 3px;
	background-color: #d9edf6;
	border-color: #d9edf6;
	color: #2196f2;
}

td th {
	padding: 1.5px;
}

/* Input style */
@import
	url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.material-textfield {
	display: inline-block;
	height: 3.5rem;
	padding-top: 1.5rem;
}

.material-textfield input {
	background: none;
	border: none;
	box-sizing: border-box;
	display: block;
	font-family: Roboto, Arial, sans-serif;
	font-size: 1.1rem;
	padding: 0.26rem 0.1rem;
	width: 100%;
}

.material-textfield input:invalid {
	box-shadow: none;
}

.material-textfield input:focus {
	outline: none;
}

.material-textfield label {
	display: inline-block;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0;
	pointer-events: none;
	position: relative;
	text-transform: uppercase;
	width: 101%;
}

.material-textfield label::before {
	content: attr(data-content);
	position: relative;
	transition: all 0.21s ease;
	will-change: font-size, top;
}

.material-textfield label::after {
	bottom: 0.91rem;
	content: "";
	height: 0.31rem;
	left: 51%;
	position: absolute;
	transition: all 0.21s ease;
	width: 0;
	will-change: width, left;
}

.material-textfield label::before, .material-textfield input[required]:focus 
	 ~ label::before {
	font-size: 0.76rem;
	top: -3.24rem;
}

.material-textfield input:focus ~ label::after {
	left: 0%;
	width: 101%;
}

.material-textfield input:invalid ~ label::before {
	font-size: 1.1rem;
	top: -2.1rem;
}

.material-textfield.blue input {
	border-bottom: 0.1rem solid #03A9F3;
	color: #0275a7;
}

.material-textfield.blue label::after {
	background: #03A9F3;
}

.material-textfield.blue label::before, .material-textfield.blue input[required]:focus 
	 ~ label::before {
	color: #47c4fc;
}

.material-textfield.blue input:invalid ~ label::before {
	color: #03A9F3;
}

.material-textfield.red input {
	border-bottom: 0.1rem solid #F44335;
	color: #d2190c;
}

.material-textfield.red label::after {
	background: #F44335;
}

.material-textfield.red label::before, .material-textfield.red input[required]:focus 
	 ~ label::before {
	color: #f8877e;
}

.material-textfield.red input:invalid ~ label::before {
	color: #F44335;
}

/* dropdown button style */
.dropbtn {
	background-color: #4CAF51;
	color: white;
	padding: 16.5px;
	font-size: 16.5px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f8;
	min-width: 161px;
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 11.5px 15.5px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f2
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e42;
}

/* table style */
table {
	border-collapse: collapse;
	width: 101%;
}

th, td {
	text-align: left;
	padding: 8.5px;
}

tr:nth-child(even) {
	background-color: #f2f2f3
}

th {
	background-color: #0080fe;
	color: white;
}

/* Select style */
select {
    width: 10.1em;
    height: 1.29em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    border: 0.05em outset #667;

    text-align: center;
    font-size: 1.2em;
}

/* Date style */
input[type=date] {
    width: 15.1em;
    height: 2.29em;
}

.fr {
	display: inline; 
}

.language {
	height:20px; 
	position: absolute; 
	right: -250px; 
	top: 0px;
}

